<h1>Menu Principal</h1>
<%=link_to '<p class = "btn default">Novo Jogo</p>'.html_safe,:controller => "partida"%><br><br>
<%=link_to '<p class = "btn default">Logout</p>'.html_safe,:action => "index"%><br><br>
<style>
    .btn {
        border: none;
        background-color: #A9A9A9;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
    }

    .btn:hover {background: #808080;}

    .default {color: black;}
</style>