<h1>Menu Principal</h1>

  <p><b>Seja bem vindo(a): </b><%= @usuario_display_text %></p>

<%= link_to_if(@disable.nil?, "<p class = '#{@btnclass}'>Novo Jogo</p>".html_safe, { controller: "partida" }) %>
<% if @disable == true %>
  <div id="perguntas_insuficientes">
    <p style="color: red; font-size: 12px">
      Não há perguntas suficientes cadastradas para iniciar um jogo!
    </p>
  </div>
<% end %>
<br><br>
<%=link_to '<p class = "btn default">Ranking</p>'.html_safe,:controller => "ranking" %><br><br>
<%=link_to '<p class = "btn default">Logout</p>'.html_safe,:controller => "login" %><br><br>
<style>
    .btn {
        border: none;
        background-color: #A9A9A9;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
    }

    .btn:hover {background: #808080;}

    .default {color: black;}

    .btnd {
        border: none;
        background-color: #ECEBEB;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
    }

    .btnd:hover {background: #ECEBEB;}

    .disabled {color: #CEC9C9;}

</style>
