<h1>Pergunta 1</h1>
<!--<%#=link_to '<p class = "btn default">Novo Jogo</p>'.html_safe,:action => "jogo"%><br><br>-->
<style>
    .btn {
        border: none;
        background-color: #A9A9A9;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
    }

    .btn:hover {background: #808080;}

    .default {color: black;}
</style>